@import '../../variables';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 73px;
}

.pokemons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 53px;
}
